html, body {
    overflow: hidden;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
}
body {
    margin: 0;
    background: #fff;
}
h1 {
    margin: 0;
    padding: 6px;
    border:0;
    font-size: 20pt;
}
#map {
    height: 100%;
    border: solid 1px #0a0a0a;
}

#btnbox {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    height: 50px;
    z-index: 1000;
}
#mapcontrol_bg {
    background: #fff;
    width: 45px;
    height: 180px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index:1000;
}

#mediabox {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 190px;
    height: 50px;
    z-index: 1000;
}
a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    color: #ee1c25;
}
#twitter-widget-0 {
    width: 90px;
    float: left;
}
.btn-primary {
    background-color: #000;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #ee1c25;
}
#btn-findme {
    width: 100%;
    margin-bottom: 10px;
}

.btn, .modal-content {
    border-radius: 0;
}

#fblike {
    width: 70px;
    float: right;
}

#creds {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #ccc;
    font-size: 10px;
    z-index: 1000;
}

.footnote, .comptext {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #333;
}

.comptext {
    font-size: 18px;
    margin-bottom: 10px;
}

.comptweet {
    width: 110px;
    margin: 0 auto;
}

h1, h4, body {
    font-family: "ITCAvantGardeGothW04-Bo 1122872";
}